body{
    margin-left: 10%;
    margin-right: 10%;
}
.top{
    width: 100%;
    height: 60px;
}
.caixa_top_1{
    width: 14.5%;
    height: 60px;
    margin-right: 0.5%;
    float: left;
    background-color: black;
}

p{text-align: center;}
.text{color: white;}

.caixa_top_2{
    width: 85%;
    height: 60px;
    margin-bottom: 10px;
    float: left;
    background-color: pink;
}

.centro{
    height: 510px;
    width: 100%;
}

.centro1,.centro2{
    width: 49.5%;
    height: 100%;
    float: left;
}
.centro1{
    background-color: saddlebrown;
    margin-right: 1%;
}
.centro2{
    background-color: burlywood;

}

.pe{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: block;
    background-color: green;
}