<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 7</title>
    <link rel="stylesheet" href="css/layout07.css">
</head>
<body>
    
    <div class="top">
        <div class="top_rly">
            <p>Topo Larg.100% / Alt. 60px </p>
        </div>
    </div>
    <div class="centro">
        <div class="centro1"> <p >Direita Larg 50% / Alt. 550px</p></div>
        <div class="centro2"> <p>Esquerda Larg 50 % Alt 550px</p> </div>
    </div>
    <div class="pe"><p>Pé Larg.100% alt. 30px</p></div>
    
</body>
</html>