<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 1</title>
    <link rel="stylesheet" href="css/layout01.css">
</head>
<body>
    <div class="caixa01"><p>Topo Larg.100% / Alt. 60px / Marg. Baixo 10px</p></div>
    <div class="caixa02"><p >Direita Larg 50% / Alt. 550px / Marg. Dir 1%</p></div>
    <div class="caixa03"><p>Esquerda Larg 50 % Alt 550px</p></div>
    <div class="caixa04"><p>Pé Larg.100% alt. 30px</p></div>
</body>
</html>