<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 6</title>
    <link rel="stylesheet" href="css/layout06.css">
</head>
<body>
    <div class="top">
        <div class="caixa_top_1"><p class="text">Larg.15% / Alt.60px/ Marg.Esq.0.5%</p></div>
        <div class="caixa_top_2"><p>Larg. 85% / Alt.60px / Marg.Baixo 10px</p></div>
    </div>
    <div class="centro">
        <div class="centro1"></div>
        <div class="centro2"></div>
    </div>
    <div class="pe"><p>Pé Larg 100% / Alt. 30px / Marg.Superior 10px</p></div>
</body>
</html>